html, body {
    background: white url('../img/color.png');
    color: black;
    width: auto;
    display: block;
    overflow: hidden;
}

section.title {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 30%;
}

a {
    text-decoration: none;
    color: black;
}

h1{
    transform: matrix(1, -0.20, 0, 1, 0, 0);
    -ms-transform: matrix(1, -0.20, 0, 1, 0, 0);
    -webkit-transform: matrix(1, -0.20, 0, 1, 0, 0);
}

h1 {
    font-family: "Century", Sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    text-shadow: 10px 10px ghostwhite, 10px 10px ghostwhite;
    width: 100%;
    align-items: center;
}

h1 span {
    display: inline-block;
    vertical-align: middle;
}

span.title {
    font-size: 20px;
}
